@use "sass:map";

/* content section
(blog post, static pages, etc)
===================================== */

.s-content {
    -webkit-font-smoothing: antialiased;
    color: $body-color;

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
        &::before{
            content: '';
            height: 5rem;
            margin-top: -5rem;
            display: block;
        }
    }

    h1 {
        margin-bottom: 2.5rem;
    }

    h2 {
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
    }

    h3, h4 {
        margin-top: 2rem;
        margin-bottom: 0.75rem;
    }

    section {
        margin-bottom: 3rem;
    }

    p,
    ul li,
    ol li {
        letter-spacing: 0.063px;
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 400;
    }

    ul li{
        list-style: disc;
    }

    ol li {
        list-style: auto;
    }

    ol li,
    ul li {
        margin-left: 1.4rem;
        margin-bottom: 1rem;
    }

    iframe {
        max-width: 420px;
    }

    pre {
        overflow: auto;
        width: 100%;
        border: solid 0.75rem #0d1117;
        border-bottom-width: 0;
        padding-bottom: 0.75em;
        background: #0d1117;
        font-size: 0.85rem;
        line-height: 1.4;
        margin: 1rem 0;
        code {
            width: 0;
            display: block;
            background-color: inherit;
            color: white;
        }
    }

    pre.shell::before {
        content: 'SHELL';
        display: inline-block;
        color: white;
        background: #6e6e6e;
        padding: 0.25em 0.5em;
        margin-bottom: 0.5em;
    }
}
