.ss-doc-wrapper {
    position: relative;
    width: 100%;
    max-width:1600px;
    margin: 0 auto;
    min-height: 100vh;

    &__left-sidebar {
        z-index: 2;
        position: fixed;
        top: 0;
        width: $leftSidebarWidth;
        height: 100vh;
        background-color: $backgroundColor;
        box-sizing: 'border-box';
        overflow: auto;
        transform: translateX(-$leftSidebarWidth);
        transition: transform $animationPeriod;
        border-right: solid 1px whitesmoke;

        .show-left-sidebar & {
            transform: translateX(0);
        }
    }

    &__title-area {
        padding: 1rem 1rem 0 1rem;
        height: $headerHeight;
        margin-bottom: 2rem;
    }

    &__header {
        background-color: $backgroundColor;
        position: sticky;
        height: $headerHeight;
        top: 0;
        border-bottom: solid 1px whitesmoke;
    }

    &__body {
        min-height: calc(100vh - $headerHeight);
        width: 100%;
    }

    &__overlay {
        .show-left-sidebar & {
            display: block;
            z-index: 1;
        }

        z-index: 0;
		display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(black, 0.2);
	}
}

@media (min-width: $breakpointMd) {
    .ss-toggle-left-sidebar {       
        display: none;
    }

    .ss-doc-wrapper {
        &__left-sidebar {
            position: sticky;
            transform: translateX(0);
            flex: 0 0 $leftSidebarWidth;
        }

        &__body {
            flex: 0 1 920px;
        }

        &__overlay {
            display: none!important;
        }
    }
}

@media (min-width: $breakpointLg) {
    .ss-doc-wrapper {
        &__left-sidebar {
            position: sticky;
            transform: translateX(0);
        }

        &__right-sidebar {
            min-height: calc(100vh - $headerHeight);
            flex: 0 0 $rightSidebarWidth;
        }
    }
}