$threshold: 768px;
$leftSidebarWidth: 300px;
$rightSidebarWidth: 250px;
$headerHeight: 60px;
$animationPeriod: 300ms;


.ss-doc-wrapper {
    grid-template-rows: $headerHeight auto;
	grid-template-columns: 1fr;
    min-height: 100vh;

    &__left-sidebar { 
        position: fixed;
        width: $leftSidebarWidth;

        transform: translateX(-$leftSidebarWidth);
        transition: transform $animationPeriod;

        .show-left-sidebar & {
            transform: translateX(0);
        }
    }

    &__right-sidebar {
        display: none;
    }

    &__overlay {
		display: none;
        .show-left-sidebar & {
            display: block;
        }
	}
}

@media (min-width: $threshold) {
    .ss-toggle-left-sidebar {
        @media (min-width: $threshold) {
            display: none;
        }
    }

    .ss-doc-wrapper {
        grid-template-columns: $leftSidebarWidth 1fr $rightSidebarWidth;

        &__left-sidebar {
            position: sticky;
            transform: translateX(0);
            grid-row: 1 / span 2;
            grid-column: 1 / span 1;
        }

        &__body {
            grid-row: 2 / span 1;
            grid-column: 2  / span 1;
        }

        &__header {
            grid-row: 1 / span 1;
            grid-column: 2 / span 2;
        }

        &__right-sidebar {
            grid-row: 2 / span 1;
            grid-column: 3 / span 1;
            display: block;    
        }

        &__overlay {
            display: none!important;
        }
    }
}

