
//desktop setting
body, .container, .s-modal--fl > * {
    min-width: 1200px;
}

.container-fluid {
    padding: 0 24px
}


/* Configuration
============================ */
@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

/* Normalization/browser enhancement
=========================================== */
/*@import "styles/reboot";*/

/* Base components
=============================== */
@import "styles/btns";
@import "styles/headers";
@import "styles/headers.m";
@import "styles/page-title";
@import "styles/menus";
@import "styles/modals";
@import "styles/cards";
@import "styles/chip";
@import "styles/admin-bars";
@import "styles/contents";
@import "styles/inputs";
@import "styles/utilities";
@import "styles/footers";
@import "styles/iboxes";
@import "styles/steps";
@import "styles/icircles";
@import "styles/panels";
@import "styles/steppers";
@import "styles/agreements";
@import "styles/loaders";
@import "styles/pagination";
@import "styles/sections";



.s-left-side-bar {
    width: 300px;
    overflow-y: scroll;
}

.s-vertical-border {
    width: 1px;
}

.s-btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;

    &:before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    &[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);

        &:before {
            transform: rotate(90deg);
        }
    }
}

.s-btn-toggle-nav {
    a {
        display: inline-flex;
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
        text-decoration: none;

        &:hover, &:focus {
            background-color: #d2f4ea;
        }
    }
}
